<!DOCTYPE html>
<html>
  <head>
  	<meta charset="UTF-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>益倍嘉资管<%= title %></title>
    <link rel='stylesheet' href='/css/basic.css'>
    <link rel="stylesheet" href="/css/head.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/about.css">
  </head>
  <body>
  	<%- include header %>
    <div id="about" class="about">
    <div class="plate about-banner news-banner">
      <a href="javascript:;" class="banner-show">
        <img src="images/banner_02.png" alt="" />
      </a>
      <%- include tencent %>
    </div>
    <div class="plate company-profile">
      <div class="container">
        <div class="company-head">
          <h1 class="level-1">公司简介<span>company profile</span></h1>
        </div>
        <div class="company-body">
          <p class="paragraph"><span style="font-weight: bold; color: #000; ">益倍嘉资管</span>作为招银前海金融资产交易中心的经纪会员和交易会员，对接合资格资产方和资金方，开展各项融资和不良资产处理业务。</p>
          <p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.</p>
        </div>
      </div>
    </div>
    <div class="plate organizational-institution">
      <div class="container">
        <div class="organizational-head">
          <h1 class="level-1">组织机构<span>organizational institution</span></h1>
        </div>
        <div class="organizational-body">
          <p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.</p>
          <p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.</p>
          <div class="organizational-content">
            <span class="content-lt">
              <img src="images/icon_people_black.png" alt="" />
            </span>
            <span class="content-rt">
              <p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.</p>
              <p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.</p>
              <p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.</p>
            </span>
          </div>
          <p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.</p>
        </div>
      </div>
    </div>
    <div class="plate honor">
      <div class="container">
        <div class="honor-head">
          <h1 class="level-1">荣誉资质<span>honor</span></h1>
        </div>
        <div class="honor-body">
          <p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.</p>
          <ul class="honor-groups">
            <li>
              <a href="javascript:;" class="honor-items">
                <img src="images/honor.png" alt="honor" />    
              </a>
            </li>
            <li>
              <a href="javascript:;" class="honor-items">
                <img src="images/honor.png" alt="honor" />    
              </a>
            </li>
            <li>
              <a href="javascript:;" class="honor-items">
                <img src="images/honor.png" alt="honor" />    
              </a>
            </li>
            <li>
              <a href="javascript:;" class="honor-items">
                <img src="images/honor.png" alt="honor" />    
              </a>
            </li>
            <li>
              <a href="javascript:;" class="honor-items">
                <img src="images/honor.png" alt="honor" />    
              </a>
            </li>
          </ul>
          <p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.</p>
          <p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.</p>
          <p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.</p>
        </div>
      </div>
    </div>
    <div class="plate core-team">
      <div class="container">
        <div class="team-head">
          <h1 class="level-1">核心团队<span>core team</span></h1>
        </div>
        <div class="team-body">
          <p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.</p>
          <p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.</p>
          <div class="team-content">
            <ul class="member">
              <li class="member-items">
                <div class="member-info">
                  <div class="member-lt"><img src="images/picture_05.png" alt="" /></div>
                  <div class="member-rt">
                    <div class="member-rt-content">
                      <div class="member-rt-title">
                        <h4 class="level-4">PinYin Name</h4>
                        <h3 class="level-3">ch&en name</h3>
                      </div>
                      <div class="member-rt-info">
                        <h6 class="level-6">occupation</h6>
                        <p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for</p>
                      </div>
                    </div>
                    <div class="member-rt-bg">
                      <div class="member-rt-bg-bm"></div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="member-items">
                <div class="member-info">
                  <div class="member-lt"><img src="images/picture_06.png" alt="" /></div>
                  <div class="member-rt">
                    <div class="member-rt-content">
                      <div class="member-rt-title">
                        <h4 class="level-4">PinYin Name</h4>
                        <h3 class="level-3">ch&en name</h3>
                      </div>
                      <div class="member-rt-info">
                        <h6 class="level-6">occupation</h6>
                        <p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit forIn the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for</p>
                        <p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for</p>
                      </div>
                    </div>
                    <div class="member-rt-bg">
                      <div class="member-rt-bg-bm"></div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="member-items">
                <div class="member-info">
                  <div class="member-lt"><img src="images/picture_07.png" alt="" /></div>
                  <div class="member-rt">
                    <div class="member-rt-content">
                      <div class="member-rt-title">
                        <h4 class="level-4">PinYin Name</h4>
                        <h3 class="level-3">ch&en name</h3>
                      </div>
                      <div class="member-rt-info">
                        <h6 class="level-6">occupation</h6>
                        <p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit forIn the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for</p>
                      </div>
                    </div>
                    <div class="member-rt-bg">
                      <div class="member-rt-bg-bm"></div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="member-items">
                <div class="member-info">
                  <div class="member-lt"><img src="images/picture_08.png" alt="" /></div>
                  <div class="member-rt">
                    <div class="member-rt-content">
                      <div class="member-rt-title">
                        <h4 class="level-4">PinYin Name</h4>
                        <h3 class="level-3">ch&en name</h3>
                      </div>
                      <div class="member-rt-info">
                        <h6 class="level-6">occupation</h6>
                        <p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit forIn the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for</p>
                      </div>
                    </div>
                    <div class="member-rt-bg">
                      <div class="member-rt-bg-bm"></div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="member-items">
                <div class="member-info">
                  <div class="member-lt"><img src="images/picture_09.png" alt="" /></div>
                  <div class="member-rt">
                    <div class="member-rt-content">
                      <div class="member-rt-title">
                        <h4 class="level-4">PinYin Name</h4>
                        <h3 class="level-3">ch&en name</h3>
                      </div>
                      <div class="member-rt-info">
                        <h6 class="level-6">occupation</h6>
                        <p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit forIn the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for</p>
                      </div>
                    </div>
                    <div class="member-rt-bg">
                      <div class="member-rt-bg-bm"></div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="member-items">
                <div class="member-info">
                  <div class="member-lt"><img src="images/picture_10.png" alt="" /></div>
                  <div class="member-rt">
                    <div class="member-rt-content">
                      <div class="member-rt-title">
                        <h4 class="level-4">PinYin Name</h4>
                        <h3 class="level-3">ch&en name</h3>
                      </div>
                      <div class="member-rt-info">
                        <h6 class="level-6">occupation</h6>
                        <p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit forIn the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for</p>
                        <p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit forIn the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for</p>
                      </div>
                    </div>
                    <div class="member-rt-bg">
                      <div class="member-rt-bg-bm"></div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="member-items">
                <div class="member-info">
                  <div class="member-lt"><img src="images/picture_05.png" alt="" /></div>
                  <div class="member-rt">
                    <div class="member-rt-content">
                      <div class="member-rt-title">
                        <h4 class="level-4">PinYin Name</h4>
                        <h3 class="level-3">ch&en name</h3>
                      </div>
                      <div class="member-rt-info">
                        <h6 class="level-6">occupation</h6>
                        <p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit forIn the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for</p>
                      </div>
                    </div>
                    <div class="member-rt-bg">
                      <div class="member-rt-bg-bm"></div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="member-items">
                <div class="member-info">
                  <div class="member-lt"><img src="images/picture_06.png" alt="" /></div>
                  <div class="member-rt">
                    <div class="member-rt-content">
                      <div class="member-rt-title">
                        <h4 class="level-4">PinYin Name</h4>
                        <h3 class="level-3">ch&en name</h3>
                      </div>
                      <div class="member-rt-info">
                        <h6 class="level-6">occupation</h6>
                        <p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit forIn the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for</p>
                      </div>
                    </div>
                    <div class="member-rt-bg">
                      <div class="member-rt-bg-bm"></div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="member-items">
                <div class="member-info">
                  <div class="member-lt"><img src="images/picture_07.png" alt="" /></div>
                  <div class="member-rt">
                    <div class="member-rt-content">
                      <div class="member-rt-title">
                        <h4 class="level-4">PinYin Name</h4>
                        <h3 class="level-3">ch&en name</h3>
                      </div>
                      <div class="member-rt-info">
                        <h6 class="level-6">occupation</h6>
                        <p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit forIn the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for</p>
                        <p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit forIn the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for</p>
                      </div>
                    </div>
                    <div class="member-rt-bg">
                      <div class="member-rt-bg-bm"></div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="plate corporate-culture">
      <div class="container">
        <div class="corporate-head">
          <h1 class="level-1">企业文化<span>corporate culture </span></h1>
        </div>
        <div class="corporate-body">
          <p class="paragraph">招银前海金融资产交易中心（下称“招银前海金融”）是2015年经深圳市金融办批准，由招商局集团和招商银行旗下公司共同出资，在深圳前海注册设立的金融资产交易场所。</p>
          <p class="paragraph">公司借助前海政策优势，利用最新互联网技术，面向机构会员和个人投资者，提供跨境金融资产交易服务，打造开放的云端财富管理平台。</p>
          <p class="paragraph">招银前海金融于2015年4月27日在广东省前海蛇口自贸区揭牌启动仪式上被授牌为重点金融项目。</p>
          <div class="corporate-show">
            <img src="images/banner_03.png" alt="" />
          </div>
        </div>
      </div>
    </div>
    <div class="plate contact-us">
      <div class="contact-container">
        <div class="contact-body">
          <div class="contact-type">
            <div class="contact-info">
              <img src="images/icon_phone.png" alt="" />
              <span>021-52833062</span>
            </div>
            <div class="contact-info">
              <img src="images/icon_email.png" alt="" />
              <span>Rose_7878@ebeijia.com</span>
            </div>
            <div class="contact-info">
              <img src="images/icon_telephone.png" alt="" />
              <span>021-52833062</span>
            </div>
            <div class="contact-info">
              <img src="images/icon_address.png" alt="" />
              <span>上海市延安西路1612号</span>
            </div>
          </div>
          <div class="address-bg">
            <img src="images/picture_map.png" alt="上海市延安西路1612号" />
          </div>
        </div>
      </div>
    </div>
  </div>
    <%- include footer %>
  </body>
</html>