<%- include header %>
<div class="main-business" id="main-business">
	<div class="plate news-banner">
		<a href="javascript:;" class="banner-show" title="益倍嘉资管-公司业务">
			<img src="images/banner_06.png" alt="" />
		</a>
		<%- include tencent %>
	</div>
	<div class="plate business-profile">
		<div class="container">
			<div class="business-head">
				<h1 class="level-1">业务简介<span>business profile</span></h1>
			</div>
			<div class="business-body">
				<p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.</p>
				<p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.</p>
			</div>
		</div>
	</div>
	<div class="plate offering-fund">
		<div class="container">
			<div class="fund-head">
				<h1 class="level-1">私募基金<span>private offering fund</span></h1>
			</div>
			<div class="fund-body">
				<p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.</p>
				<p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.</p>
				<ul class="private-groups">
					<li class="private-items">
						<img src="images/icon_people_black.png" alt="" />
					</li>
					<li class="private-items">
						<img src="images/icon_people_blue.png" alt="" />
					</li>
					<li class="private-items">
						<img src="images/icon_people_black.png" alt="" />
					</li>
					<li class="private-items">
						<img src="images/icon_people_green.png" alt="" />
					</li>
				</ul>
				<p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.</p>
			</div>
		</div>
	</div>
	<div class="plate valued-service">
		<div class="container">
			<div class="service-head">
				<h1 class="level-1">增值业务<span>value-added service</span></h1>
			</div>
			<div class="service-body">
				<p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.</p>
				<div class="service-image">
					<img src="images/table_01.png" alt="" />
				</div>
				<p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.</p>
				<p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.</p>
			</div>
		</div>
	</div>
	<div class="plate enterprise-service">
		<div class="container">
			<div class="enterprise-head">
				<h1 class="level-1">企业服务<span>enterprise service</span></h1>
			</div>
			<div class="enterprise-body">
				<p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.</p>
				<p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.</p>
				<div class="enterprise-image">
					<img src="images/table_02.png" alt="" />
				</div>
				<p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.</p>
				<p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.</p>
				<p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.</p>
			</div>
		</div>
	</div>
	<div class="plate asset-management">
		<div class="container">
			<div class="asset-head">
				<h1 class="level-1">资产管理<span>asset management</span></h1>
			</div>
			<div class="asset-body">
				<p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.</p>
				<p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.</p>
				<div class="asset-image">
					<img src="images/table_03.png" alt="" />
				</div>
			</div>
		</div>
	</div>
	<div class="plate contact-us">
		<div class="contact-container">
			<div class="contact-body">
				<div class="contact-type">
					<div class="contact-info">
						<img src="images/icon_phone.png" alt="" />
						<span>021-52833062</span>
					</div>
					<div class="contact-info">
						<img src="images/icon_email.png" alt="" />
						<span>Rose_7878@ebeijia.com</span>
					</div>
					<div class="contact-info">
						<img src="images/icon_telephone.png" alt="" />
						<span>021-52833062</span>
					</div>
					<div class="contact-info">
						<img src="images/icon_address.png" alt="" />
						<span>上海市延安西路1612号</span>
					</div>
				</div>
				<div class="address-bg">
					<img src="images/picture_map.png" alt="上海市延安西路1612号" />
				</div>
			</div>
		</div>
	</div>
</div>
<%- include footer %>