<%- include header %>
<div class="main-business" id="main-business">
	<div class="plate news-banner">
		<a href="javascript:;" class="banner-show" title="益倍嘉资管-公司业务">
			<img src="images/banner_06.png" alt="" />
		</a>
		<%- include tencent %>
	</div>
	<div class="plate business-profile">
		<div class="container">
			<div class="business-head">
				<h1 class="level-1">业务简介<span>business profile</span></h1>
			</div>
			<div class="business-body">
				<p class="paragraph">益倍嘉资管作为招银前海金融资产交易中心的经纪会员和交易会员，对接合资格资产方和资金方，开展各项融资和不良资产处理业务。包括：</p>
				<p class="paragraph paragraph-bold paragraph-top">1.在招银前海金融平台从事金融资产和其他金融产品受托经纪业务</p>
				<div class="business-type-items">
					<ul>
						<li class="business-type-item">
							<h6 class="level-6">代理债权转让</h6>
							<p class="business-type-item-content">在不改变合同内容的前提下，通过招银前海金融平台代理债权人通过债权转让第三人订立合同将债权的全部或部分转移于第三人。</p>
						</li>
						<li class="business-type-item">
							<h6 class="level-6">代理不良资产转让</h6>
							<p class="business-type-item-content">通过招银前海金融平台，代理按照金融机构认定为次级、可疑、损失类的不良资产进行公开挂牌，寻找合资格受让方协助此类资产。</p>
						</li>
						<li class="business-type-item">
							<h6 class="level-6">代理非上市企业股权转让</h6>
							<p class="business-type-item-content">通过招银前海金融平台，代理非公开市场上交易的企业股权可以挂牌。</p>
						</li>
						<li class="business-type-item">
							<h6 class="level-6">代理收益权转让</h6>
							<p class="business-type-item-content">通过招银前海金融平台，代理包括但不限于融资租赁收益权、票据收益权、理财收益权、资管计划收益权等所有权项下的财产权利的挂牌。</p>
						</li>
						<li class="business-type-item">
							<h6 class="level-6">代理票据转让</h6>
							<p class="business-type-item-content">通过招银前海金融平台，协助持票人将票据权利挂牌转让给他人或者将一定的票据权利授予他人行使。</p>
						</li>
						<li class="business-type-item">
							<h6 class="level-6">代理实物资产转让</h6>
							<p class="business-type-item-content">通过招银前海金融平台，代理基于不良资产债权项下的实物资产进行公开挂牌。</p>
						</li>
						<li class="business-type-item">
							<h6 class="level-6">代理未来财产权转让</h6>
							<p class="business-type-item-content">通过招银前海金融平台，代理委托人基于未来应收账款、未来收费权、未来实物资产等尚未实现的，能产生稳定的、可预见的现金流的财产权益的挂牌。</p>
						</li>
					</ul>
				</div>
				<p class="paragraph paragraph-bold paragraph-top">2.从事金融资产转让、受让业务</p>
				<div class="business-type-items">
					<ul>
						<li class="business-type-item">
							<h6 class="level-6">通过招银前海金融平台审核，进行债权转让、受让业务</h6>
						</li>
						<li class="business-type-item">
							<h6 class="level-6">通过招银前海金融平台审核，进行不良资产转让、受让业务</h6>
						</li>
						<li class="business-type-item">
							<h6 class="level-6">通过招银前海金融平台审核，进行非公开市场上的股权交易</h6>
						</li>
						<li class="business-type-item">
							<h6 class="level-6">通过招银前海金融平台审核，进行融资租赁收益权、票据收益权、理财收益权、资管计划收益权等所有权项下的财产权利的转让、受让</h6>
						</li>
						<li class="business-type-item">
							<h6 class="level-6">通过招银前海金融平台审核，进行票据权利转让、受让</h6>
						</li>
						<li class="business-type-item">
							<h6 class="level-6">通过招银前海金融平台审核，进行不良资产债权乡下的实物资产转让、受让</h6>
						</li>
						<li class="business-type-item">
							<h6 class="level-6">通过招银前海金融平台审核，进行应收账款、未来收费权、未来实物资产等尚未实现的，能产生稳定的、可预见的现金流的财产权益的转让、受让</h6>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="plate offering-fund">
		<div class="container">
			<div class="fund-head">
				<h1 class="level-1">私募基金<span>private offering fund</span></h1>
			</div>
			<div class="fund-body">
				<p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.</p>
				<p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.</p>
				<ul class="private-groups">
					<li class="private-items">
						<img src="images/icon_people_black.png" alt="" />
					</li>
					<li class="private-items">
						<img src="images/icon_people_blue.png" alt="" />
					</li>
					<li class="private-items">
						<img src="images/icon_people_black.png" alt="" />
					</li>
					<li class="private-items">
						<img src="images/icon_people_green.png" alt="" />
					</li>
				</ul>
				<p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.</p>
			</div>
		</div>
	</div>
	<div class="plate valued-service">
		<div class="container">
			<div class="service-head">
				<h1 class="level-1">增值业务<span>value-added service</span></h1>
			</div>
			<div class="service-body">
				<p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.</p>
				<div class="service-image">
					<img src="images/table_01.png" alt="" />
				</div>
				<p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.</p>
				<p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.</p>
			</div>
		</div>
	</div>
	<div class="plate enterprise-service">
		<div class="container">
			<div class="enterprise-head">
				<h1 class="level-1">企业服务<span>enterprise service</span></h1>
			</div>
			<div class="enterprise-body">
				<p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.</p>
				<p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.</p>
				<div class="enterprise-image">
					<img src="images/table_02.png" alt="" />
				</div>
				<p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.</p>
				<p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.</p>
				<p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.</p>
			</div>
		</div>
	</div>
	<div class="plate asset-management">
		<div class="container">
			<div class="asset-head">
				<h1 class="level-1">资产管理<span>asset management</span></h1>
			</div>
			<div class="asset-body">
				<p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.</p>
				<p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.</p>
				<div class="asset-image">
					<img src="images/table_03.png" alt="" />
				</div>
			</div>
		</div>
	</div>
	<div class="plate contact-us">
		<div class="contact-container">
			<div class="contact-body">
				<div class="contact-type">
					<div class="contact-info">
						<img src="images/icon_phone.png" alt="" />
						<span>021-52833062</span>
					</div>
					<div class="contact-info">
						<img src="images/icon_email.png" alt="" />
						<span>Rose_7878@ebeijia.com</span>
					</div>
					<div class="contact-info">
						<img src="images/icon_telephone.png" alt="" />
						<span>021-52833062</span>
					</div>
					<div class="contact-info">
						<img src="images/icon_address.png" alt="" />
						<span>上海市延安西路1612号</span>
					</div>
				</div>
				<div class="address-bg">
					<img src="images/picture_map.png" alt="上海市延安西路1612号" />
				</div>
			</div>
		</div>
	</div>
</div>
<%- include footer %>