<%- include header %>
<div class="investment-case" id="investment-case">
	<div class="plate news-banner">
		<a href="javascript:;" class="banner-show" title="益倍嘉资管-投资案例">
			<img src="images/banner_07.png" alt="" />
		</a>
		<%- include tencent %>
	</div>
	<div class="plate case-profile">
		<div class="container">
			<div class="case-head">
				<h1 class="level-1">案例简介<span>case profile</span></h1>
			</div>
			<div class="case-body">
				<p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.</p>
			</div>
		</div>
	</div>
	<div class="plate invest-case">
		<div class="container">
			<div class="invest-head">
				<h1 class="level-1">投资案例<span>investment case</span></h1>
			</div>
			<div class="invest-body">
				<p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.</p>
				<p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.</p>
				<p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.</p>
				<ul class="investment-groups">
					<li class="investment-items">
						<img src="images/logo_companyname.png" alt="" />
					</li>
					<li class="investment-items">
						<img src="images/logo_leewells.png" alt="" />
					</li>
					<li class="investment-items">
						<img src="images/icon_sstarway.png" alt="" />
					</li>
					<li class="investment-items">
						<img src="images/logo_century.png" alt="" />
					</li>
					<li class="investment-items">
						<img src="images/logo_dixi.png" alt="" />
					</li>
					<li class="investment-items">
						<img src="images/logo_giant.png" alt="" />
					</li>
					<li class="investment-items">
						<img src="images/logo_euiffy.png" alt="" />
					</li>
					<li class="investment-items">
						<img src="images/logo_companyname.png" alt="" />
					</li>
					<li class="investment-items">
						<img src="images/logo_leewells.png" alt="" />
					</li>
					<li class="investment-items">
						<img src="images/icon_sstarway.png" alt="" />
					</li>
					<li class="investment-items">
						<img src="images/logo_century.png" alt="" />
					</li>
					<li class="investment-items">
						<img src="images/logo_dixi.png" alt="" />
					</li>
					<li class="investment-items">
						<img src="images/logo_giant.png" alt="" />
					</li>
					<li class="investment-items">
						<img src="images/logo_euiffy.png" alt="" />
					</li>
				</ul>
			</div>
		</div>
		<div class="container">
			<div class="invest-head">
				<h1 class="level-1">投资案例<span>investment case</span></h1>
			</div>
			<div class="invest-body">
				<p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.</p>
				<p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.</p>
				<p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.</p>
				<ul class="investment-groups">
					<li class="investment-items">
						<img src="images/logo_companyname.png" alt="" />
					</li>
					<li class="investment-items">
						<img src="images/logo_leewells.png" alt="" />
					</li>
					<li class="investment-items">
						<img src="images/icon_sstarway.png" alt="" />
					</li>
					<li class="investment-items">
						<img src="images/logo_century.png" alt="" />
					</li>
					<li class="investment-items">
						<img src="images/logo_dixi.png" alt="" />
					</li>
					<li class="investment-items">
						<img src="images/logo_giant.png" alt="" />
					</li>
					<li class="investment-items">
						<img src="images/logo_euiffy.png" alt="" />
					</li>
					<li class="investment-items">
						<img src="images/logo_companyname.png" alt="" />
					</li>
					<li class="investment-items">
						<img src="images/logo_leewells.png" alt="" />
					</li>
					<li class="investment-items">
						<img src="images/icon_sstarway.png" alt="" />
					</li>
					<li class="investment-items">
						<img src="images/logo_century.png" alt="" />
					</li>
					<li class="investment-items">
						<img src="images/logo_dixi.png" alt="" />
					</li>
					<li class="investment-items">
						<img src="images/logo_giant.png" alt="" />
					</li>
					<li class="investment-items">
						<img src="images/logo_euiffy.png" alt="" />
					</li>
				</ul>
			</div>
		</div>
		<div class="container">
			<div class="invest-head">
				<h1 class="level-1">投资案例<span>investment case</span></h1>
			</div>
			<div class="invest-body">
				<p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.</p>
				<p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.</p>
				<p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.</p>
				<ul class="investment-groups">
					<li class="investment-items">
						<img src="images/logo_companyname.png" alt="" />
					</li>
					<li class="investment-items">
						<img src="images/logo_leewells.png" alt="" />
					</li>
					<li class="investment-items">
						<img src="images/icon_sstarway.png" alt="" />
					</li>
					<li class="investment-items">
						<img src="images/logo_century.png" alt="" />
					</li>
					<li class="investment-items">
						<img src="images/logo_dixi.png" alt="" />
					</li>
					<li class="investment-items">
						<img src="images/logo_giant.png" alt="" />
					</li>
					<li class="investment-items">
						<img src="images/logo_euiffy.png" alt="" />
					</li>
					<li class="investment-items">
						<img src="images/logo_companyname.png" alt="" />
					</li>
					<li class="investment-items">
						<img src="images/logo_leewells.png" alt="" />
					</li>
					<li class="investment-items">
						<img src="images/icon_sstarway.png" alt="" />
					</li>
					<li class="investment-items">
						<img src="images/logo_century.png" alt="" />
					</li>
					<li class="investment-items">
						<img src="images/logo_dixi.png" alt="" />
					</li>
					<li class="investment-items">
						<img src="images/logo_giant.png" alt="" />
					</li>
					<li class="investment-items">
						<img src="images/logo_euiffy.png" alt="" />
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="plate"></div>
	<div class="plate contact-us">
		<div class="contact-container">
			<div class="contact-body">
				<div class="contact-type">
					<div class="contact-info">
						<img src="images/icon_phone.png" alt="" />
						<span>021-52833062</span>
					</div>
					<div class="contact-info">
						<img src="images/icon_email.png" alt="" />
						<span>Rose_7878@ebeijia.com</span>
					</div>
					<div class="contact-info">
						<img src="images/icon_telephone.png" alt="" />
						<span>021-52833062</span>
					</div>
					<div class="contact-info">
						<img src="images/icon_address.png" alt="" />
						<span>上海市延安西路1612号</span>
					</div>
				</div>
				<div class="address-bg">
					<img src="images/picture_map.png" alt="上海市延安西路1612号" />
				</div>
			</div>
		</div>
	</div>
</div>
<%- include footer %>