<%- include header %>
<div class="contactUs" id="contactUs">
	<div class="news-banner">
		<a href="javascript:;" class="banner-show" title="益倍嘉资管-联系我们">
			<img src="images/banner_09.png" alt="" />
		</a>
		<%- include tencent %>
	</div>
	<div class="contact-main">
		<div class="container">
			<div class="contact-head">
				<h1 class="level-1">地图定位<span>map coordinates</span></h1>
			</div>
			<div class="contact-body">
				<p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.</p>
			</div>
		</div>
	</div>
	<div class="plate contact-us">
		<div class="contact-container">
			<div class="contact-body">
				<div class="contact-type">
					<div class="contact-info">
						<img src="images/icon_phone.png" alt="" />
						<span>021-52833062</span>
					</div>
					<div class="contact-info">
						<img src="images/icon_email.png" alt="" />
						<span>Rose_7878@ebeijia.com</span>
					</div>
					<div class="contact-info">
						<img src="images/icon_telephone.png" alt="" />
						<span>021-52833062</span>
					</div>
					<div class="contact-info">
						<img src="images/icon_address.png" alt="" />
						<span>上海市延安西路1612号</span>
					</div>
				</div>
				<div class="address-bg">
					<img src="images/picture_map.png" alt="上海市延安西路1612号" />
				</div>
			</div>
		</div>
	</div>
	<div class="bus-route">
		<div class="container">
			<div class="bus-head">
				<h1 class="level-1">公交线路<span>bus route</span></h1>
			</div>
			<div class="bus-body">
				<div class="body-content">
					<h3 class="level-3">bus</h3>
					<p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.</p>
					<p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.</p>
				</div>
				<div class="body-content">
					<h3 class="level-3">more</h3>
					<p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.</p>
				</div>
			</div>
		</div>
	</div>
</div>
<%- include footer %>