<footer id="foot" class="foot">
	<div class="foot-container">
		<div class="foot-head">
			<h6 class="foot-level-6">友情链接</h6>
			<div class="links-groups">
				<span><a href="javascript:;" class="foot-items">第三方链接 01</a></span>
				<span><a href="javascript:;" class="foot-items">第三方链接 02</a></span>
				<span><a href="javascript:;" class="foot-items">第三方链接 03</a></span>
				<span><a href="javascript:;" class="foot-items">第三方链接 04</a></span>
				<span><a href="javascript:;" class="foot-items">第三方链接 05</a></span>
				<span><a href="javascript:;" class="foot-items">第三方链接 06</a></span>
				<span><a href="javascript:;" class="foot-items">第三方链接 07</a></span>
				<span><a href="javascript:;" class="foot-items">第三方链接 08</a></span>
			</div>
		</div>
		<div class="foot-tail">
			<div class="foot-tail-service">
				<div class="service-items">
					<span>在线客服</span>
					<span>021-65555555</span>
				</div>
				<div class="service-items">
					<span>企业微信</span>
					<span>EBJ_WECHAT</span>
				</div>
			</div>
			<p>copyright (c) 2007-2015 tang [ innovation for china ] 沪icp备08104900号</p>
		</div>
	</div>
</footer>
<script src="/javascripts/jquery-3.1.1.js"></script>
<script src="/javascripts/script.js"></script>