<!DOCTYPE html>
<html>
  <head>
  	<meta charset="UTF-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>益倍嘉资管<%= title %></title>
    <link rel='stylesheet' href='/css/basic.css'>
    <link rel="stylesheet" href="/css/head.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/news.css">
    <link rel="stylesheet" href="/css/newsInfo.css">
    <link rel="stylesheet" href="css/business.css">
    <link rel="stylesheet" href="css/case.css">
    <link rel="stylesheet" href="css/service.css">
    <link rel="stylesheet" href="/css/contact.css">
  </head>
  <body>
	<header id="head" class="nav">
		<a href="/" title="益倍嘉资管" class="nav-home">
			<img src="images/logo.png" alt="益倍嘉资管" class="nav-logo" />
			<span class="nav-asset nav-asset-ch">益倍嘉资管<i class="nav-asset-en">ebj asset management</i></span>
		</a>
		<ul class="nav-groups">
			<li>
				<a href="/" class="nav-items">
					<p class="nav-items-ch">首页</p>
					<p class="nav-items-en active">homepage</p>	
				</a>
			</li>
			<li>
				<a href="/about#2" class="nav-items">
					<p class="nav-items-ch">关于我们</p>
					<p class="nav-items-en">about us</p>
				</a>
			</li>
			<li>
				<a href="/news#3" class="nav-items">
					<p class="nav-items-ch">新闻中心</p>
					<p class="nav-items-en">news center</p>	
				</a>
			</li>
			<li>
				<a href="/business#4" class="nav-items">
					<p class="nav-items-ch">公司业务</p>
					<p class="nav-items-en">main business</p>	
				</a>
			</li>
			<li>
				<a href="/case#5" class="nav-items">
					<p class="nav-items-ch">投资案例</p>
					<p class="nav-items-en">investment case</p>	
				</a>
			</li>
			<li>
				<a href="/service#6" class="nav-items">
					<p class="nav-items-ch">尊享服务</p>
					<p class="nav-items-en">enjoy service</p>	
				</a>
			</li>
			<li>
				<a href="/contact#7" class="nav-items">
					<p class="nav-items-ch">联系我们</p>
					<p class="nav-items-en">contact us</p>	
				</a>
			</li>
		</ul>
		<div class="search-bg">
			<img src="images/icon_explore.png" alt="search" />
		</div>
	</header>
  </body>
</html>