
<%- include header %>
<div id="home" class="home">
<div class="carousel slide">
	<ul class="carousel-inner">
		<li>
			<a href="javascript:;" class="carousel-items">
				<img src="images/banner_01.png" alt="asset management" />
			</a>
			<a href="javascript:;" class="about-asset">关于益倍嘉资管</a>
			<ul class="tencent">
				<li>
					<a href="javascript:;" class="tencent-items">
						<img src="images/icon_qqweb.png" alt="qqweb" />
					</a>
				</li>
				<li>
					<a href="javascript:;" class="tencent-items">
						<img src="images/icon_wechat.png" alt="wechat" />
					</a>
				</li>
				<li>
					<a href="javascript:;" class="tencent-items">
						<img src="images/icon_web.png" alt="web" />
					</a>
				</li>
				<li>
					<a href="javascript:;" class="tencent-items">
						<img src="images/icon_qq.png" alt="qq" />
					</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="javascript:;" class="carousel-items">
				<img src="images/banner_01.png" alt="asset management" />
			</a>
		</li>
		<li>
			<a href="javascript:;" class="carousel-items">
				<img src="images/banner_01.png" alt="asset management" />
			</a>
		</li>
		<li>
			<a href="javascript:;" class="carousel-items">
				<img src="images/banner_01.png" alt="asset management" />
			</a>
		</li>
	</ul>
	<ul class="carousel-indicators">
		<li class="active"></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>
<div class="plate recent-news" id="recent-news">
	<div class="news-container">
		<div class="news-head">
			<p class="news-head-en">recent news<a href="javascript:;">more news></a></p>
			<p class="news-head-ch">近期要闻</p>
		</div>
		<div class="news-body">
			<ul>
				<li class="news-body-items">
					<div class="news-content">
						<div class="images-bg">
							<img src="images/picture_01.png" alt="" />
							<div class="bg">
								<div class="bg-content">
									<h1 class="news-level-1">ebj</h1>
									<h3 class="news-level-3">asset management</h3>
								</div>
							</div>
						</div>
						<div class="news-detail">
							<div class="news-detail-head">
								<h3 class="news-level-3">news 01</h3>
								<p>big information management era</p>
							</div>
							<div class="news-detail-info">
								<span>anstract</span>
								<p>In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.</p>
							</div>
							<a href="javascript:;" class="read-more">read more</a>
							<div class="news-detail-footer">
								<span class="news-eye">
									<img src="images/icon_eye.png" alt="eye" />
									<i>1,237</i>
								</span>
								<span class="news-time">2016.12.23</span>
							</div>
						</div>
					</div>
				</li>
				<li class="news-body-items">
					<div class="news-content">
						<div class="images-bg">
							<img src="images/picture_02.png" alt="" />
							<div class="bg">
								<a href="javascript:;" class="icon-link">
									<img src="images/icon_link.png" alt="" />
								</a>
								<div class="bg-content">
									<h1 class="news-level-1">ebj</h1>
									<h3 class="news-level-3">asset management</h3>
								</div>
							</div>
						</div>
						<div class="news-detail">
							<div class="news-detail-head">
								<h3 class="news-level-3">news 01</h3>
								<p>big information management era</p>
							</div>
							<div class="news-detail-info">
								<span>anstract</span>
								<p>In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.</p>
							</div>
							<a href="javascript:;" class="read-more">read more</a>
							<div class="news-detail-footer">
								<span class="news-eye">
									<img src="images/icon_eye.png" alt="eye" />
									<i>1,237</i>
								</span>
								<span class="news-time">2016.12.23</span>
							</div>
						</div>
					</div>
				</li>
				<li class="news-body-items">
					<div class="news-content">
						<div class="images-bg">
							<img src="images/picture_03.png" alt="" />
							<div class="bg">
								<div class="bg-content">
									<h1 class="news-level-1">ebj</h1>
									<h3 class="news-level-3">asset management</h3>
								</div>
							</div>
						</div>
						<div class="news-detail">
							<div class="news-detail-head">
								<h3 class="news-level-3">news 01</h3>
								<p>big information management era</p>
							</div>
							<div class="news-detail-info">
								<span>anstract</span>
								<p>In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.</p>
							</div>
							<a href="javascript:;" class="read-more">read more</a>
							<div class="news-detail-footer">
								<span class="news-eye">
									<img src="images/icon_eye.png" alt="eye" />
									<i>1,237</i>
								</span>
								<span class="news-time">2016.12.23</span>
							</div>
						</div>
					</div>
				</li>
				<li class="news-body-items">
					<div class="news-content">
						<div class="images-bg">
							<img src="images/picture_04.png" alt="" />
							<div class="bg">
								<div class="bg-content">
									<h1 class="news-level-1">ebj</h1>
									<h3 class="news-level-3">asset management</h3>
								</div>
							</div>
						</div>
						<div class="news-detail">
							<div class="news-detail-head">
								<h3 class="news-level-3">news 01</h3>
								<p>big information management era</p>
							</div>
							<div class="news-detail-info">
								<span>anstract</span>
								<p>In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.</p>
							</div>
							<a href="javascript:;" class="read-more">read more</a>
							<div class="news-detail-footer">
								<span class="news-eye">
									<img src="images/icon_eye.png" alt="eye" />
									<i>1,237</i>
								</span>
								<span class="news-time">2016.12.23</span>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="plate main-business">
	<div class="business-container">
		<div class="business-head">
			<p class="business-head-en">main business</p>
			<p class="business-head-ch">主营业务</p>
		</div>
		<div class="business-body">
			<p class="business-body-pra">In the push towards the successful implementation of same-day transactions and real-time payments,splashy technology may not be the right fit for our financial insititutions.As banks make a concerted push towards real-time payments, one industry expert believes it is increasingly unlikely that FinTech innovations like the blockchain will be viable to serve as the backbone for an integrated solution.</p>
			<p class="business-body-pra pra-last">In the push towards the successful implementation of same-day transactions and real-time payments,splashy technology may not be the right fit for our financial insititutions.</p>
			<ul class="business-content">
				<li>
					<a href="javascript:;" class="business-items">
						<img src="images/icon_fund.png" alt="fund" />
						<p>私募资金</p>
					</a>
				</li>
				<li>
					<a href="javascript:;" class="business-items">
						<img src="images/icon_business.png" alt="business" />
						<p>增值业务</p>
					</a>
				</li>
				<li>
					<a href="javascript:;" class="business-items">
						<img src="images/icon_service.png" alt="service" />
						<p>企业服务</p>
					</a>
				</li>
				<li>
					<a href="javascript:;" class="business-items">
						<img src="images/icon_administration.png" alt="administration" />
						<p>资产管理</p>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="plate investment-case">
	<div class="case-container">
		<div class="case-head">
			<p class="case-head-en">investment case<a href="javascript:;">more news></a></p>
			<p class="case-head-ch">投资案例</p>
		</div>
		<div class="case-body">
			<p class="case-body-pra">In the push towards the successful implementation of same-day transactions and real-time payments,splashy technology may not be the right fit for our financial insititutions.As banks make a concerted push towards real-time payments, one industry expert believes it is increasingly unlikely that FinTech innovations like the blockchain will be viable to serve as the backbone for an integrated solution.</p>
			<p class="case-body-pra">In the push towards the successful implementation of same-day transactions and real-time payments,splashy technology may not be the right fit for our financial insititutions.As banks make a concerted push towards real-time payments, one industry expert believes it is increasingly unlikely that FinTech innovations like the blockchain will be viable to serve as the backbone for an integrated solution.</p>
			<p class="case-body-pra pra-last">In the push towards the successful implementation of same-day transactions and real-time payments,splashy technology may not be the right fit for our financial insititutions.</p>
			<div class="case-body-content">
				<ul class="case-body-inner" id="case-body-inner">
					<li>
						<ul>
							<li>
								<a href="javascript:;" class="case-body-items">
									<img src="images/logo_companyname.png" alt="" />		
								</a>
							</li>
							<li>
								<a href="javascript:;" class="case-body-items">
									<img src="images/logo_leewells.png" alt="" />		
								</a>
							</li>
							<li>
								<a href="javascript:;" class="case-body-items">
									<img src="images/icon_sstarway.png" alt="" />		
								</a>
							</li>
							<li>
								<a href="javascript:;" class="case-body-items">
									<img src="images/logo_century.png" alt="" />		
								</a>
							</li>
							<li>
								<a href="javascript:;" class="case-body-items">
									<img src="images/logo_dixi.png" alt="" />		
								</a>
							</li>
							<li>
								<a href="javascript:;" class="case-body-items">
									<img src="images/logo_giant.png" alt="" />		
								</a>
							</li>
							<li>
								<a href="javascript:;" class="case-body-items">
									<img src="images/logo_euiffy.png" alt="" />		
								</a>
							</li>
						</ul>
					</li>
					<li>
						<ul>
							<li>
								<a href="javascript:;" class="case-body-items">
									<img src="images/logo_companyname.png" alt="" />		
								</a>
							</li>
							<li>
								<a href="javascript:;" class="case-body-items">
									<img src="images/logo_leewells.png" alt="" />		
								</a>
							</li>
							<li>
								<a href="javascript:;" class="case-body-items">
									<img src="images/icon_sstarway.png" alt="" />		
								</a>
							</li>
							<li>
								<a href="javascript:;" class="case-body-items">
									<img src="images/logo_century.png" alt="" />		
								</a>
							</li>
							<li>
								<a href="javascript:;" class="case-body-items">
									<img src="images/logo_dixi.png" alt="" />		
								</a>
							</li>
							<li>
								<a href="javascript:;" class="case-body-items">
									<img src="images/logo_giant.png" alt="" />		
								</a>
							</li>
							<li>
								<a href="javascript:;" class="case-body-items">
									<img src="images/logo_euiffy.png" alt="" />		
								</a>
							</li>
						</ul>
					</li>
					<li>
						<ul>
							<li>
								<a href="javascript:;" class="case-body-items">
									<img src="images/logo_companyname.png" alt="" />		
								</a>
							</li>
							<li>
								<a href="javascript:;" class="case-body-items">
									<img src="images/logo_leewells.png" alt="" />		
								</a>
							</li>
							<li>
								<a href="javascript:;" class="case-body-items">
									<img src="images/icon_sstarway.png" alt="" />		
								</a>
							</li>
							<li>
								<a href="javascript:;" class="case-body-items">
									<img src="images/logo_century.png" alt="" />		
								</a>
							</li>
							<li>
								<a href="javascript:;" class="case-body-items">
									<img src="images/logo_dixi.png" alt="" />		
								</a>
							</li>
							<li>
								<a href="javascript:;" class="case-body-items">
									<img src="images/logo_giant.png" alt="" />		
								</a>
							</li>
							<li>
								<a href="javascript:;" class="case-body-items">
									<img src="images/logo_euiffy.png" alt="" />		
								</a>
							</li>
						</ul>
					</li>
				</ul>
				<ul class="case-body-indicators" id="case-body-indicators">
					<li class="active"></li>
					<li></li>
					<li></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="plate core-team">
	<div class="team-container">
		<div class="team-head">
			<p class="team-head-en">core team<a href="javascript:;">more news></a></p>
			<p class="team-head-ch">核心团队</p>
		</div>
		<div class="team-body">
			<ul class="team-groups">
				<li class="team-items">
					<div class="team-content">
						<div class="people">
							<img src="images/box_picture01.png" alt="" />
						</div>
						<div class="team-info">
							<div class="team-info-title">
								<h3 class="team-level-3">member name</h3>
								<p>occupation</p>
							</div>
							<div class="team-info-content">
								<h4 class="team-level-4">working years</h4>
								<p>In the push towards the successful implementation of same-day transactions and real-time payments.</p>
							</div>
						</div>
					</div>
				</li>
				<li class="team-items">
					<div class="team-content">
						<div class="people">
							<img src="images/box_picture02.png" alt="" />
						</div>
						<div class="team-info">
							<div class="team-info-title">
								<h3 class="team-level-3">member name</h3>
								<p>occupation</p>
							</div>
							<div class="team-info-content">
								<h4 class="team-level-4">working years</h4>
								<p>In the push towards the successful implementation of same-day transactions and real-time payments.</p>
							</div>
						</div>
					</div>
				</li>
				<li class="team-items">
					<div class="team-content">
						<div class="people">
							<img src="images/box_picture03.png" alt="" />
						</div>
						<div class="team-info">
							<div class="team-info-title">
								<h3 class="team-level-3">member name</h3>
								<p>occupation</p>
							</div>
							<div class="team-info-content">
								<h4 class="team-level-4">working years</h4>
								<p>In the push towards the successful implementation of same-day transactions and real-time payments.</p>
							</div>
						</div>
					</div>
				</li>
				<li class="team-items">
					<div class="team-content">
						<div class="people">
							<img src="images/box_picture04.png" alt="" />
						</div>
						<div class="team-info">
							<div class="team-info-title">
								<h3 class="team-level-3">member name</h3>
								<p>occupation</p>
							</div>
							<div class="team-info-content">
								<h4 class="team-level-4">working years</h4>
								<p>In the push towards the successful implementation of same-day transactions and real-time payments.</p>
							</div>
						</div>
					</div>
				</li>
				<li class="team-items">
					<div class="team-content">
						<div class="people">
							<img src="images/box_picture05.png" alt="" />
						</div>
						<div class="team-info">
							<div class="team-info-title">
								<h3 class="team-level-3">member name</h3>
								<p>occupation</p>
							</div>
							<div class="team-info-content">
								<h4 class="team-level-4">working years</h4>
								<p>In the push towards the successful implementation of same-day transactions and real-time payments.</p>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="plate contact-us">
	<div class="contact-container">
		<div class="contact-head">
			<p class="contact-head-en">contact us</p>
			<p class="contact-head-ch">联系我们</p>
		</div>
		<div class="contact-body">
			<div class="contact-type">
				<div class="contact-info">
					<img src="images/icon_phone.png" alt="" />
					<span>021-52833062</span>
				</div>
				<div class="contact-info">
					<img src="images/icon_email.png" alt="" />
					<span>Rose_7878@ebeijia.com</span>
				</div>
				<div class="contact-info">
					<img src="images/icon_telephone.png" alt="" />
					<span>021-52833062</span>
				</div>
				<div class="contact-info">
					<img src="images/icon_address.png" alt="" />
					<span>上海市延安西路1612号</span>
				</div>
			</div>
			<div class="address-bg">
				<img src="images/picture_map.png" alt="上海市延安西路1612号" />
			</div>
		</div>
	</div>
</div>
</div>
<%- include footer %>

  