<%- include header %>
<div class="newsInfo" id="newsInfo">
	<div class="news-banner">
		<a href="javascript:;" class="banner-show" title="益倍嘉资管-新闻中心">
			<img src="images/banner_05.png" alt="" />
		</a>
		<%- include tencent %>
	</div>
	<div class="newsInfo-main">
		<div class="container">
			<h6 class="level-6">By Abstract source</h6>
			<div class="content">
				<p class="date-time">Posted on February 4, 2016</p>
				<div class="content-info">
					<p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments In the push toward the successful implementation of same-day transactions and real-time payments In the push toward the successful implementation of same-day transactions and real-time payments</p>
					<p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments In the push toward the successful implementation of same-day transactions and real-time payments In the push toward the successful implementation of same-day transactions and real-time payments In the push toward the successful implementation of same-day transactions</p>
					<div class="info-bold">
						<p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments In the push toward the successful implementation of same-day</p>
						<p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments In the push toward the successful implementation of same-day transactions and real-time payments In the push toward the successful implementation of same-day transactions and real-time payments</p>
					</div>
					<p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments In the push toward the successful implementation of same-day transactions and real-time payments In the push toward the successful implementation of same-day transactions and real-time payments</p>
					<div class="info-bold">
						<p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments In the push toward the successful implementation of same-day</p>
					</div>
					<p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments In the push toward the successful implementation of same-day transactions and real-time payments In the push toward the successful implementation of same-day transactions and real-time payments</p>
					<p class="paragraph">Buckle up for faster payments!</p>
					<a href="javascript:;" class="click-here">To read the full Faster Payments Tracker,click here.</a>
					<div class="related-items">related items: 
						<span class="tips">ach network,bitcoin.blockchain,faster payments </span>trending
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="recommend">
	<div class="container">
		<div class="re-head">
			<h3 class="level-3">相关推荐<span>related recommendation</span></h3>
		</div>
		<div class="re-body">
			<ul class="news-groups">
				<li class="news-items">
					<div class="container">
						<div class="news-info">
							<h3 class="level-3">EU Policy and Regulation</h3>
							<img src="images/picture_11.png" alt="" />
							<p class="news-intro">In the push toward the successful implementation of same-day transactions and real-time payments</p>
						</div>
						<div class="news-more">
							<div class="date">Date：<span class="date-time">2016.03.22</span></div>
							<a href="javascript:;" class="btn btn-default">Read the position paper ></a>
						</div>
					</div>
				</li>
				<li class="news-items">
					<div class="container">
						<div class="news-info">
							<h3 class="level-3">Our Corporation Responsibility</h3>
							<img src="images/picture_12.png" alt="" />
							<p class="news-intro">In the push toward the successful implementation of same-day transactions and real-time payments</p>
						</div>
						<div class="news-more">
							<div class="date">Date：<span class="date-time">2016.03.22</span></div>
							<a href="javascript:;" class="btn btn-default">Read the position paper ></a>
						</div>
					</div>
				</li>
				<li class="news-items">
					<div class="container">
						<div class="news-info">
							<h3 class="level-3">Interchange fees</h3>
							<img src="images/picture_13.png" alt="" />
							<p class="news-intro">In the push toward the successful implementation of same-day transactions and real-time payments</p>
						</div>
						<div class="news-more">
							<div class="date">Date：<span class="date-time">2016.03.22</span></div>
							<a href="javascript:;" class="btn btn-default">Read the position paper ></a>
						</div>
					</div>
				</li>
				<li class="news-items">
					<div class="container">
						<div class="news-info">
							<h3 class="level-3">Google Glass' Identity Crisis</h3>
							<img src="images/picture_14.png" alt="" />
							<p class="news-intro">In the push toward the successful implementation of same-day transactions and real-time payments,In the push toward the successful implementation of same-day transactions and real-time payments</p>
						</div>
						<div class="news-more">
							<div class="date">Date：<span class="date-time">2016.03.22</span></div>
							<a href="javascript:;" class="btn btn-default">Read the position paper ></a>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
<%- include footer %>