<%- include header %>
<div class="news" id="news">
	<div class="news-banner">
		<a href="javascript:;" class="banner-show" title="益倍嘉资管-新闻中心">
			<img src="images/banner_04.png" alt="" />
		</a>
		<%- include tencent %>
	</div>
	<div class="news-main">
		<div class="container">
			<div class="news-panel">
				<a class="panel-nav active" href="javascript:;">公司动态</a>
				<img src="images/line_01.png" alt="" />
				<a class="panel-nav" href="javascript:;">行业新闻</a>
			</div>
			<div class="news-body">
				<div class="news-content company-news active">
					<ul class="news-groups">
						<li class="news-items">
							<div class="container">
								<div class="news-info">
									<h3 class="level-3">EU Policy and Regulation</h3>
									<img src="images/picture_11.png" alt="" />
									<p class="news-intro">In the push toward the successful implementation of same-day transactions and real-time payments</p>
								</div>
								<div class="news-more">
									<div class="date">Date：<span class="date-time">2016.03.22</span></div>
									<a href="javascript:;" class="btn btn-default">Read the position paper ></a>
								</div>
							</div>
						</li>
						<li class="news-items">
							<div class="container">
								<div class="news-info">
									<h3 class="level-3">Our Corporation Responsibility</h3>
									<img src="images/picture_12.png" alt="" />
									<p class="news-intro">In the push toward the successful implementation of same-day transactions and real-time payments</p>
								</div>
								<div class="news-more">
									<div class="date">Date：<span class="date-time">2016.03.22</span></div>
									<a href="/news/newsInfo#3" class="btn btn-default">Read the position paper ></a>
								</div>
							</div>
						</li>
						<li class="news-items">
							<div class="container">
								<div class="news-info">
									<h3 class="level-3">Interchange fees</h3>
									<img src="images/picture_13.png" alt="" />
									<p class="news-intro">In the push toward the successful implementation of same-day transactions and real-time payments</p>
								</div>
								<div class="news-more">
									<div class="date">Date：<span class="date-time">2016.03.22</span></div>
									<a href="javascript:;" class="btn btn-default">Read the position paper ></a>
								</div>
							</div>
						</li>
						<li class="news-items">
							<div class="container">
								<div class="news-info">
									<h3 class="level-3">Google Glass' Identity Crisis</h3>
									<img src="images/picture_14.png" alt="" />
									<p class="news-intro">In the push toward the successful implementation of same-day transactions and real-time payments,In the push toward the successful implementation of same-day transactions and real-time payments</p>
								</div>
								<div class="news-more">
									<div class="date">Date：<span class="date-time">2016.03.22</span></div>
									<a href="javascript:;" class="btn btn-default">Read the position paper ></a>
								</div>
							</div>
						</li>
						<li class="news-items">
							<div class="container">
								<div class="news-info">
									<h3 class="level-3">Google Glass' Identity Crisis</h3>
									<img src="images/picture_14.png" alt="" />
									<p class="news-intro">In the push toward the successful implementation of same-day transactions and real-time payments,In the push toward the successful implementation of same-day transactions and real-time payments</p>
								</div>
								<div class="news-more">
									<div class="date">Date：<span class="date-time">2016.03.22</span></div>
									<a href="javascript:;" class="btn btn-default">Read the position paper ></a>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="news-content industry-news">
					<ul class="news-groups">
						<li class="news-items">
							<div class="container">
								<div class="news-info">
									<h3 class="level-3">EU Policy and Regulation</h3>
									<img src="images/picture_15.png" alt="" />
									<p class="news-intro">In the push toward the successful implementation of same-day transactions and real-time payments</p>
								</div>
								<div class="news-more">
									<div class="date">Date：<span class="date-time">2016.03.22</span></div>
									<a href="javascript:;" class="btn btn-default">Read the position paper ></a>
								</div>
							</div>
						</li>
						<li class="news-items">
							<div class="container">
								<div class="news-info">
									<h3 class="level-3">Our Corporation Responsibility</h3>
									<img src="images/picture_16.png" alt="" />
									<p class="news-intro">In the push toward the successful implementation of same-day transactions and real-time payments</p>
								</div>
								<div class="news-more">
									<div class="date">Date：<span class="date-time">2016.03.22</span></div>
									<a href="javascript:;" class="btn btn-default">Read the position paper ></a>
								</div>
							</div>
						</li>
						<li class="news-items">
							<div class="container">
								<div class="news-info">
									<h3 class="level-3">Interchange fees</h3>
									<img src="images/picture_17.png" alt="" />
									<p class="news-intro">In the push toward the successful implementation of same-day transactions and real-time payments</p>
								</div>
								<div class="news-more">
									<div class="date">Date：<span class="date-time">2016.03.22</span></div>
									<a href="javascript:;" class="btn btn-default">Read the position paper ></a>
								</div>
							</div>
						</li>
						<li class="news-items">
							<div class="container">
								<div class="news-info">
									<h3 class="level-3">Google Glass' Identity Crisis</h3>
									<img src="images/picture_18.png" alt="" />
									<p class="news-intro">In the push toward the successful implementation of same-day transactions and real-time payments,In the push toward the successful implementation of same-day transactions and real-time payments</p>
								</div>
								<div class="news-more">
									<div class="date">Date：<span class="date-time">2016.03.22</span></div>
									<a href="javascript:;" class="btn btn-default">Read the position paper ></a>
								</div>
							</div>
						</li>
						<li class="news-items">
							<div class="container">
								<div class="news-info">
									<h3 class="level-3">Google Glass' Identity Crisis</h3>
									<img src="images/picture_19.png" alt="" />
									<p class="news-intro">In the push toward the successful implementation of same-day transactions and real-time payments,In the push toward the successful implementation of same-day transactions and real-time payments</p>
								</div>
								<div class="news-more">
									<div class="date">Date：<span class="date-time">2016.03.22</span></div>
									<a href="javascript:;" class="btn btn-default">Read the position paper ></a>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<%- include footer %>