<%- include header %>
<div class="enjoy-service" id="enjoy-service">
	<div class="plate news-banner">
		<a href="javascript:;" class="banner-show" title="益倍嘉资管-投资案例">
			<img src="images/banner_08.png" alt="" />
		</a>
		<%- include tencent %>
	</div>
	<div class="container">
		<div class="service-progress">
			<span class="service-type active">认购流程</span>
			<span class="service-type">在线预约</span>
			<span class="service-type">投资问答</span>
			<span class="service-type">下载中心</span>
		</div>
		<ul class="service-content">
			<li class="service-items subscription active">
				<div class="container">
					<div class="enjoy-head">
						<h1 class="level-1">认购流程<span>subscription progress</span></h1>
					</div>
					<div class="enjoy-body">
						<p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.</p>
						<p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments.</p>
						<div class="subscription-content">
							<span class="subscription-lt">
								<img src="images/left_table.png" alt="" />
							</span>
							<span class="subscription-rt">
								<p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.</p>
								<p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.</p>
								<p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.</p>
								<p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.</p>
							</span>
						</div>
						<p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.</p>
						<p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments.</p>
						<p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments.</p>
					</div>
				</div>
			</li>
			<li class="service-items booking">
				<div class="container">
					<div class="enjoy-head">
						<h1 class="level-1">在线预约<span>online booking</span></h1>
					</div>
					<div class="enjoy-body">
						<p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.</p>
						<p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.</p>
						<form class="online-booking" id="online-booking">
							<div class="form-groups">
								<label>information</label>
								<input type="text" placeholder="Please enter information" />
							</div>
							<div class="form-groups">
								<label>information</label>
								<input type="text" placeholder="Please enter information" />
							</div>
							<div class="form-groups">
								<label>information</label>
								<input type="text" placeholder="Please enter information" />
							</div>
							<div class="form-groups">
								<label>information</label>
								<input type="text" placeholder="Please enter information" />
							</div>
							<div class="form-groups">
								<label>information</label>
								<input type="text" placeholder="Please enter information" />
							</div>
							<div class="form-groups">
								<label>information</label>
								<input type="text" placeholder="Please enter information" />
							</div>
							<div class="form-groups">
								<label>information</label>
								<input type="text" placeholder="Please enter information" />
							</div>
							<div class="form-groups">
								<label>information</label>
								<input type="text" placeholder="Please enter information" />
							</div>
							<div class="form-groups">
								<label>information</label>
								<input type="text" placeholder="Please enter information" />
							</div>
							<div class="form-groups form-textarea">
								<label>information</label>
								<textarea type="text" placeholder="Please enter information"></textarea>
							</div>
							<div class="btn-submit">submit</div>
							<p class="paragraph">In the push toward the successful implementation same-day transactions and real-time paymentsof</p>
						</form>
					</div>
				</div>
			</li>
			<li class="service-items question">
				<div class="container">
					<div class="enjoy-head">
						<h1 class="level-1">投资问答<span>questions and answers</span></h1>
					</div>
					<div class="enjoy-body">
						<p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.</p>
						<div class="questions-answers">
							<div class="plate">
								<div class="questions">
									<span>Q</span>
									<p class="questios-info">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.</p>
								</div>
								<div class="answers">
									<span>A</span>
									<div class="answers-groups">
										<p class="answers-info">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.</p>
										<p class="answers-info">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.</p>
									</div>
								</div>
							</div>
							<div class="plate">
								<div class="questions">
									<span>Q</span>
									<p class="questios-info">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.</p>
								</div>
								<div class="answers">
									<span>A</span>
									<div class="answers-groups">
										<p class="answers-info">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.</p>
										<p class="answers-info">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.</p>
										<p class="answers-info">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.</p>
									</div>
								</div>
							</div>
							<div class="plate">
								<div class="questions">
									<span>Q</span>
									<p class="questios-info">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.</p>
								</div>
								<div class="answers">
									<span>A</span>
									<div class="answers-groups">
										<p class="answers-info">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.</p>
										<p class="answers-info">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.</p>
									</div>
								</div>
							</div>
							<div class="plate">
								<div class="questions">
									<span>Q</span>
									<p class="questios-info">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.</p>
								</div>
								<div class="answers">
									<span>A</span>
									<div class="answers-groups">
										<p class="answers-info">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.</p>
										<p class="answers-info">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.</p>
										<p class="answers-info">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</li>
			<li class="service-items download">
				<div class="container">
					<div class="enjoy-head">
						<h1 class="level-1">下载中心<span>data download</span></h1>
					</div>
					<div class="enjoy-body">
						<p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.</p>
						<p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.</p>
						<p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.</p>
						<ul class="download-center">
							<li>
								<div class="container">
									<div class="download-lt"><a href="javascript:;">download</a></div>
									<div class="download-rt">
										<div class="date">date<span class="date-time">2017.01.19</span></div>
										<h3 class="level-3">data name</h3>
										<p class="download-info">Brief introduction of data content Brief introduction of data content</p>
									</div>
								</div>
							</li>
							<li>
								<div class="container">
									<div class="download-lt"><a href="javascript:;">download</a></div>
									<div class="download-rt">
										<div class="date">date<span class="date-time">2017.01.19</span></div>
										<h3 class="level-3">data name</h3>
										<p class="download-info">Brief introduction of data content</p>
									</div>
								</div>
							</li>
							<li>
								<div class="container">
									<div class="download-lt"><a href="javascript:;">download</a></div>
									<div class="download-rt">
										<div class="date">date<span class="date-time">2017.01.19</span></div>
										<h3 class="level-3">data name</h3>
										<p class="download-info">Brief introduction of data content</p>
									</div>
								</div>
							</li>
							<li>
								<div class="container">
									<div class="download-lt"><a href="javascript:;">download</a></div>
									<div class="download-rt">
										<div class="date">date<span class="date-time">2017.01.19</span></div>
										<h3 class="level-3">data name</h3>
										<p class="download-info">Brief introduction of data content</p>
									</div>
								</div>
							</li>
						</ul>
						<p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.</p>
						<p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.</p>
						<ul class="download-center">
							<li>
								<div class="container">
									<div class="download-lt"><a href="javascript:;">download</a></div>
									<div class="download-rt">
										<div class="date">date<span class="date-time">2017.01.19</span></div>
										<h3 class="level-3">data name</h3>
										<p class="download-info">Brief introduction of data content Brief introduction of data content</p>
									</div>
								</div>
							</li>
							<li>
								<div class="container">
									<div class="download-lt"><a href="javascript:;">download</a></div>
									<div class="download-rt">
										<div class="date">date<span class="date-time">2017.01.19</span></div>
										<h3 class="level-3">data name</h3>
										<p class="download-info">Brief introduction of data content</p>
									</div>
								</div>
							</li>
							<li>
								<div class="container">
									<div class="download-lt"><a href="javascript:;">download</a></div>
									<div class="download-rt">
										<div class="date">date<span class="date-time">2017.01.19</span></div>
										<h3 class="level-3">data name</h3>
										<p class="download-info">Brief introduction of data content</p>
									</div>
								</div>
							</li>
							<li>
						</ul>
						<p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.</p>
						<p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.</p>
						<p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.</p>
						<p class="paragraph">In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.In the push toward the successful implementation of same-day transactions and real-time payments,splashy technology mat not be the right fit for our financial insititutions.</p>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>
<%- include footer %>