<div class="banner-bg">
	<ul class="tencent">
		<li>
			<a href="javascript:;" class="tencent-items">
				<img src="images/icon_qqweb.png" alt="qqweb" />
			</a>
		</li>
		<li>
			<a href="javascript:;" class="tencent-items">
				<img src="images/icon_wechat.png" alt="wechat" />
			</a>
		</li>
		<li>
			<a href="javascript:;" class="tencent-items">
				<img src="images/icon_web.png" alt="web" />
			</a>
		</li>
		<li>
			<a href="javascript:;" class="tencent-items">
				<img src="images/icon_qq.png" alt="qq" />
			</a>
		</li>
	</ul>
</div>