@charset "utf-8";
* {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
html,
body {
  width: 100%;
  font-size: 62.5%;
}
body {
  font-family: "Microsoft yahei";
  position: relative;
  background-color: #e6e6e6;
  min-width: 1200px;
}
input,
button {
  border: none;
  outline: none;
}
a {
  color: #b6b6b6;
  text-decoration: none;
}
@media screen and (max-width: 1280px) {
  .home,
  .about,
  .news,
  .newsInfo,
  .main-business {
    margin-top: 120px !important;
  }
}
@media screen and (max-width: 1400px) {
  .about .team-content > ul.member > li.member-items {
    width: 50% !important;
  }
  .about .team-content > ul.member > li.member-items .member-info .member-rt {
    max-width: 318px !important;
  }
  .news .news-main .container .news-body .news-content > ul.news-groups > li.news-items {
    width: 33.33% !important;
  }
  .recommend .container .re-body > ul.news-groups > li.news-items {
    width: 33.33% !important;
  }
  .recommend .container .re-body > ul.news-groups > li.news-items:last-child {
    display: none;
  }
  .investment-case .invest-case .container .invest-body > ul.investment-groups > li.investment-items {
    width: 20% !important;
  }
  .enjoy-service .container > ul.service-content .download ul.download-center > li {
    width: 33.33% !important;
  }
  .enjoy-service .container > ul.service-content .download ul.download-center > li .container .download-rt {
    width: 208px !important;
  }
}
